Repository osamhack2020/WEB_CodeSquare_AmongUs, pull requests merged in 2020-10, with the labels that each got.

#3 회원가입 페이지 프로토타입 작업 (#2)
  frontend/src/App.tsx
  frontend/src/GlobalStyles.tsx
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/auth/LoginInputForm.tsx
  frontend/src/components/auth/RegisterForm.tsx
  frontend/src/components/base/Header.tsx
  frontend/src/components/common/Button.tsx
  frontend/src/components/common/Progress.tsx
  frontend/src/components/common/RadioButton.tsx
  frontend/src/containers/auth/LoginContainer.tsx
  frontend/src/containers/auth/RegisterContainer.tsx
Labels: enhancement, front-end

#4 회원가입 프로토타입 페이지 두번째 작업 (#2)
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/auth/LoginInput.tsx
  frontend/src/components/auth/RegisterForm.tsx
  frontend/src/components/auth/TermForm.tsx
  frontend/src/components/common/Button.tsx
  frontend/src/components/common/Progress.tsx
  frontend/src/components/common/RadioButton.tsx
  frontend/src/containers/auth/RegisterContainer.tsx
  frontend/src/lib/hooks/useInput.tsx
Labels: enhancement, front-end

#5 사이트 메인 페이지 구현
  frontend/public/clip-programming.png
  frontend/src/App.tsx
  frontend/src/components/auth/RegisterForm.tsx
  frontend/src/components/auth/TermForm.tsx
  frontend/src/components/base/Header.tsx
  frontend/src/containers/MainContainer.tsx
  frontend/src/lib/hooks/useInput.tsx
Labels: enhancement, front-end

#6 StoryBook, QnA 관련 컴포넌트 추가
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/common/AvatarIcon.tsx
  frontend/src/components/common/Divider.tsx
  frontend/src/components/qna/QnaPostItem.tsx
  frontend/src/components/qna/QnaPostList.tsx
  frontend/src/containers/profile/ProfileContainer.tsx
  frontend/src/containers/qna/QnaHomeContainer.tsx
  frontend/src/modules/qna.ts
  frontend/src/stories/common/AvatarIcon.stories.tsx
  frontend/src/stories/qna/QnaPostItem.stories.tsx
  frontend/src/stories/qna/QnaPostList.stories.tsx
  frontend/yarn.lock
Labels: enhancement, front-end

#8 QnA 메인 페이지 프로토타입 구현
  frontend/src/components/qna/QnaPostList.tsx
  frontend/src/components/qna/QnaSideBar.tsx
  frontend/src/containers/qna/QnaHomeContainer.tsx
  frontend/src/stories/qna/QnaSideBar.stories.tsx
Labels: enhancement, front-end

#9 QnA 최근 글 목록 무한 스크롤 구현
  frontend/src/containers/qna/QnaHomeContainer.tsx
  frontend/src/containers/qna/RecentPosts.tsx
  frontend/src/containers/qna/hooks/useRecentPosts.ts
  frontend/src/lib/hooks/useScrollPagination.tsx
  frontend/src/lib/utils.ts
Labels: enhancement, front-end

#11 VM 메인 페이지 구현 (#10)
  frontend/src/App.tsx
  frontend/src/components/base/Header.tsx
  frontend/src/containers/HomeContainer.tsx
  frontend/src/containers/vm/VmHomeContainer.tsx
  frontend/src/containers/vm/pixeltrue-web-design-1.svg
Labels: enhancement, front-end

#15 프론트엔드 작업내용 1차 반영
  frontend/.editorconfig
  frontend/.gitignore
  frontend/.prettierrc.json
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/README.md
  frontend/mock-server.js
  frontend/package.json
  frontend/public/clip-programming.png
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.tsx
  frontend/src/GlobalStyles.tsx
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/auth/LoginInput.tsx
  frontend/src/components/auth/RegisterForm.tsx
  frontend/src/components/auth/TermForm.tsx
  frontend/src/components/base/Header.tsx
  frontend/src/components/base/hooks/useHeader.ts
  frontend/src/components/common/AvatarIcon.tsx
  frontend/src/components/common/Button.tsx
  frontend/src/components/common/Divider.tsx
  frontend/src/components/common/Progress.tsx
  frontend/src/components/common/RadioButton.tsx
  frontend/src/components/common/TextButton.tsx
  frontend/src/components/qna/QnaPostItem.tsx
  frontend/src/components/qna/QnaPostList.tsx
  frontend/src/components/qna/QnaSideBar.tsx
  frontend/src/containers/HomeContainer.tsx
  frontend/src/containers/auth/LoginContainer.tsx
  frontend/src/containers/auth/RegisterContainer.tsx
  frontend/src/containers/profile/ProfileContainer.tsx
  frontend/src/containers/qna/QnaHomeContainer.tsx
  frontend/src/containers/qna/RecentPosts.tsx
  frontend/src/containers/qna/hooks/useRecentPosts.ts
  frontend/src/containers/vm/VmHomeContainer.tsx
  frontend/src/containers/vm/pixeltrue-web-design-1.svg
  frontend/src/index.tsx
  frontend/src/lib/api/apiClient.ts
  frontend/src/lib/api/auth.ts
  frontend/src/lib/hooks/useInput.tsx
  frontend/src/lib/hooks/useScrollPagination.tsx
  frontend/src/lib/utils.ts
  frontend/src/modules/core.ts
  frontend/src/modules/index.ts
  frontend/src/modules/qna.ts
  frontend/src/react-app-env.d.ts
  frontend/src/stories/common/AvatarIcon.stories.tsx
  frontend/src/stories/qna/QnaPostItem.stories.tsx
  frontend/src/stories/qna/QnaPostList.stories.tsx
  frontend/src/stories/qna/QnaSideBar.stories.tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: front-end

#22 QnA 프로토타입 작업 1
  frontend/mock-server.js
  frontend/src/App.tsx
  frontend/src/components/base/Header.tsx
  frontend/src/components/common/OutlineButton.tsx
  frontend/src/components/common/Sticky.tsx
  frontend/src/components/common/VerticalDivider.tsx
  frontend/src/components/qna/QnaCommentItem.tsx
  frontend/src/components/qna/QnaCommentList.tsx
  frontend/src/components/qna/QnaListWidget.tsx
  frontend/src/components/qna/QnaPostItem.tsx
  frontend/src/components/qna/QnaTagList.tsx
  frontend/src/components/qna/Vote.tsx
  frontend/src/containers/qna/QnaComments.tsx
  frontend/src/containers/qna/QnaHomeContainer.tsx
  frontend/src/containers/qna/QnaPostContainer.tsx
  frontend/src/containers/qna/QnaPostViewer.tsx
  frontend/src/containers/qna/QnaRecentPosts.tsx
  frontend/src/containers/qna/hooks/useRecentPosts.ts
  frontend/src/modules/qna.ts
  frontend/src/stories/qna/QnaCommentItem.stories.tsx
  frontend/src/stories/qna/QnaCommentList.stories.tsx
  frontend/src/stories/qna/QnaListWidget.stories.tsx
  frontend/src/stories/qna/QnaPostItem.stories.tsx
  frontend/src/stories/qna/QnaPostList.stories.tsx
  frontend/src/stories/qna/Vote.stories.tsx
Labels: enhancement, front-end

#23 프론트엔드 QnA 기능 1차 작업분 반영
  frontend/mock-server.js
  frontend/src/App.tsx
  frontend/src/components/base/Header.tsx
  frontend/src/components/common/OutlineButton.tsx
  frontend/src/components/common/Sticky.tsx
  frontend/src/components/common/VerticalDivider.tsx
  frontend/src/components/qna/QnaCommentItem.tsx
  frontend/src/components/qna/QnaCommentList.tsx
  frontend/src/components/qna/QnaListWidget.tsx
  frontend/src/components/qna/QnaPostItem.tsx
  frontend/src/components/qna/QnaTagList.tsx
  frontend/src/components/qna/Vote.tsx
  frontend/src/containers/qna/QnaComments.tsx
  frontend/src/containers/qna/QnaHomeContainer.tsx
  frontend/src/containers/qna/QnaPostContainer.tsx
  frontend/src/containers/qna/QnaPostViewer.tsx
  frontend/src/containers/qna/QnaRecentPosts.tsx
  frontend/src/containers/qna/hooks/useRecentPosts.ts
  frontend/src/modules/qna.ts
  frontend/src/stories/qna/QnaCommentItem.stories.tsx
  frontend/src/stories/qna/QnaCommentList.stories.tsx
  frontend/src/stories/qna/QnaListWidget.stories.tsx
  frontend/src/stories/qna/QnaPostItem.stories.tsx
  frontend/src/stories/qna/QnaPostList.stories.tsx
  frontend/src/stories/qna/Vote.stories.tsx
Labels: front-end

#33 Add CodeSquare favicon - Issue #31
  frontend/package.json
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/browserconfig.xml
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/mstile-144x144.png
  frontend/public/mstile-150x150.png
  frontend/public/mstile-310x150.png
  frontend/public/mstile-310x310.png
  frontend/public/mstile-70x70.png
  frontend/public/safari-pinned-tab.svg
  frontend/public/site.webmanifest
  frontend/src/index.tsx
  frontend/yarn.lock
Labels: enhancement, front-end

#35 프론트엔드 작업내용 2차 반영
  frontend/mock-server.js
  frontend/package.json
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/browserconfig.xml
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/mstile-144x144.png
  frontend/public/mstile-150x150.png
  frontend/public/mstile-310x150.png
  frontend/public/mstile-310x310.png
  frontend/public/mstile-70x70.png
  frontend/public/safari-pinned-tab.svg
  frontend/public/site.webmanifest
  frontend/src/App.tsx
  frontend/src/components/auth/TermForm.tsx
  frontend/src/components/common/RadioButtons.tsx
  frontend/src/components/common/RadioInput.tsx
  frontend/src/components/common/atom-one-light.css
  frontend/src/components/qna/QnaCommentItem.tsx
  frontend/src/components/qna/QnaCommentList.tsx
  frontend/src/components/qna/QnaPostItem.tsx
  frontend/src/components/qna/Vote.tsx
  frontend/src/components/write/MarkdownEditor.tsx
  frontend/src/containers/qna/QnaComments.tsx
  frontend/src/containers/qna/QnaPostContainer.tsx
  frontend/src/containers/qna/QnaPostViewer.tsx
  frontend/src/containers/qna/hooks/useComments.tsx
  frontend/src/containers/qna/hooks/usePost.tsx
  frontend/src/containers/qna/hooks/useRecentPosts.ts
  frontend/src/index.tsx
  frontend/src/lib/api/qna.ts
  frontend/src/lib/utils.ts
  frontend/src/modules/index.ts
  frontend/src/modules/qna.ts
  frontend/src/stories/qna/QnaCommentItem.stories.tsx
  frontend/src/stories/qna/QnaCommentList.stories.tsx
  frontend/src/stories/qna/QnaPostItem.stories.tsx
  frontend/src/stories/qna/QnaPostList.stories.tsx
  frontend/src/stories/qna/generator.ts
  frontend/src/stories/write/MarkdownEditor.stories.tsx
  frontend/yarn.lock
Labels: enhancement, front-end

#42 프론트엔드 작업내용 3차 반영
  frontend/mock-server.js
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/base/Header.tsx
  frontend/src/components/common/TagInput.tsx
  frontend/src/components/common/WrapperLink.tsx
  frontend/src/components/qna/QnaPostItem.tsx
  frontend/src/components/write/MarkdownEditor.tsx
  frontend/src/containers/auth/LoginContainer.tsx
  frontend/src/containers/auth/RegisterContainer.tsx
  frontend/src/containers/qna/QnaComments.tsx
  frontend/src/containers/qna/QnaHomeContainer.tsx
  frontend/src/containers/qna/QnaPostContainer.tsx
  frontend/src/containers/qna/QnaPostViewer.tsx
  frontend/src/containers/qna/QnaWritePostContainer.tsx
  frontend/src/containers/qna/hooks/useComments.tsx
  frontend/src/containers/qna/hooks/usePost.tsx
  frontend/src/lib/api/qna.ts
  frontend/src/lib/hooks/useInput.tsx
  frontend/src/lib/hooks/useQuery.tsx
  frontend/src/stories/common/TagInput.stories.tsx
  frontend/src/stories/write/MarkdownEditor.stories.tsx
  frontend/yarn.lock
Labels: enhancement, front-end

#46 프론트엔드 작업내용 4차 반영
  frontend/.storybook/preview.js
  frontend/mock-server.js
  frontend/src/App.tsx
  frontend/src/GlobalStyles.tsx
  frontend/src/components/base/Header.tsx
  frontend/src/components/common/ButtonWrapper.tsx
  frontend/src/components/qna/QnaListWidget.tsx
  frontend/src/components/qna/QnaWriteForm.tsx
  frontend/src/containers/auth/LoginContainer.tsx
  frontend/src/containers/auth/RegisterContainer.tsx
  frontend/src/containers/qna/QnaComments.tsx
  frontend/src/containers/qna/QnaEditContainer.tsx
  frontend/src/containers/qna/QnaPostContainer.tsx
  frontend/src/containers/qna/QnaPostViewer.tsx
  frontend/src/containers/qna/QnaWriteContainer.tsx
  frontend/src/containers/qna/QnaWritePostContainer.tsx
  frontend/src/containers/qna/hooks/useComments.tsx
  frontend/src/fonts/NanumGothicCoding-Bold.ttf
  frontend/src/fonts/NanumGothicCoding.ttf
  frontend/src/fonts/NotoSansKR-Bold.otf
  frontend/src/fonts/NotoSansKR-Light.otf
  frontend/src/fonts/NotoSansKR-Medium.otf
  frontend/src/fonts/NotoSansKR-Regular.otf
  frontend/src/index.tsx
  frontend/src/lib/api/qna.ts
  frontend/src/modules/core.ts
  frontend/src/modules/qna.ts
  frontend/src/stories/qna/QnaWriteForm.stories.tsx
  frontend/src/stories/write/MarkdownEditor.stories.tsx
  frontend/src/typography.css
Labels: enhancement, front-end

#47 OpenStack Heat Template 및 관련 Documentation
  cloud/README.md
  cloud/docs/setup-openstack.md
  cloud/hot/create_cdr_instance.yml
  cloud/hot/create_private_network.yml
Labels: cloud/infra, documentation

#49 문서화를 위한 Docusaurus 도입
  .github/workflows/documentation.yml
  docs/.gitignore
  docs/README.md
  docs/babel.config.js
  docs/docs/api/backend/qna.md
  docs/docs/api/backend/user.md
  docs/docs/api/backend/vm.md
  docs/docs/api/openstack-api.md
  docs/docs/doc1.md
  docs/docs/doc2.md
  docs/docs/doc3.md
  docs/docs/installation.md
  docs/docs/introduction.md
  docs/docs/mdx.md
  docs/docusaurus.config.js
  docs/package.json
  docs/sidebars.js
  docs/src/css/custom.css
  docs/src/pages/index.js
  docs/src/pages/styles.module.css
  docs/static/.nojekyll
  docs/static/CNAME
  docs/static/img/favicon.ico
  docs/static/img/logo.svg
  docs/static/img/undraw_docusaurus_mountain.svg
  docs/static/img/undraw_docusaurus_react.svg
  docs/static/img/undraw_docusaurus_tree.svg
  docs/yarn.lock
Labels: documentation, enhancement

#51 프론트엔드 작업내용 5차 반영
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/auth/LoginInput.tsx
  frontend/src/components/auth/RegisterForm.tsx
  frontend/src/components/auth/TermForm.tsx
  frontend/src/components/common/Button.tsx
  frontend/src/components/common/ButtonWrapper.tsx
  frontend/src/components/common/Icon.tsx
  frontend/src/components/common/Input.tsx
  frontend/src/components/common/OutlineButton.tsx
  frontend/src/components/common/RadioInput.tsx
  frontend/src/components/common/Select.tsx
  frontend/src/components/common/TextButton.tsx
  frontend/src/components/qna/QnaAcceptPopper.tsx
  frontend/src/containers/auth/LoginContainer.tsx
  frontend/src/containers/auth/RegisterContainer.tsx
  frontend/src/containers/profile/ProfileContainer.tsx
  frontend/src/containers/qna/QnaPostContainer.tsx
  frontend/src/containers/qna/QnaPostViewer.tsx
  frontend/src/containers/qna/QnaWriteContainer.tsx
  frontend/src/lib/api/auth.ts
  frontend/src/lib/hooks/useInput.tsx
  frontend/src/modules/core.ts
  frontend/src/stories/qna/QnaAcceptPopper.stories.tsx
  frontend/yarn.lock
Labels: enhancement, front-end

#59 Fix config files & voting system
  backend/codeholic/bin/main/codeholic/config/SecurityConfig.class
  backend/codeholic/bin/main/codeholic/controller/BoardCommentController.class
  backend/codeholic/bin/main/codeholic/controller/BoardController.class
  backend/codeholic/bin/main/codeholic/controller/MainController.class
  backend/codeholic/bin/main/codeholic/controller/MemberController.class
  backend/codeholic/bin/main/codeholic/controller/ReplyCommentController.class
  backend/codeholic/bin/main/codeholic/controller/ReplyController.class
  backend/codeholic/bin/main/codeholic/controller/VmController.class
  backend/codeholic/bin/main/codeholic/domain/BoardWithVote.class
  backend/codeholic/bin/main/codeholic/domain/Member.class
  backend/codeholic/bin/main/codeholic/domain/ReplyWithVote.class
  backend/codeholic/bin/main/codeholic/domain/User.class
  backend/codeholic/bin/main/codeholic/domain/request/RequestNewBoard.class
  backend/codeholic/bin/main/codeholic/domain/request/RequestNewComment.class
  backend/codeholic/bin/main/codeholic/domain/request/RequestNewReply.class
  backend/codeholic/bin/main/codeholic/service/AuthService.class
  backend/codeholic/bin/main/codeholic/service/impl/AuthServiceImpl.class
  backend/codeholic/bin/main/codeholic/service/impl/BoardVoteServiceImpl.class
  backend/codeholic/bin/main/codeholic/service/impl/ReplyVoteServiceImpl.class
  backend/codeholic/build.gradle
  backend/codeholic/src/main/java/codeholic/config/SecurityConfig.java
  backend/codeholic/src/main/java/codeholic/controller/BoardCommentController.java
  backend/codeholic/src/main/java/codeholic/controller/BoardController.java
  backend/codeholic/src/main/java/codeholic/controller/MainController.java
  backend/codeholic/src/main/java/codeholic/controller/MemberController.java
  backend/codeholic/src/main/java/codeholic/controller/ReplyCommentController.java
  backend/codeholic/src/main/java/codeholic/controller/ReplyController.java
  backend/codeholic/src/main/java/codeholic/controller/VmController.java
  backend/codeholic/src/main/java/codeholic/domain/BoardWithVote.java
  backend/codeholic/src/main/java/codeholic/domain/Member.java
  backend/codeholic/src/main/java/codeholic/domain/ReplyWithVote.java
  backend/codeholic/src/main/java/codeholic/domain/User.java
  backend/codeholic/src/main/java/codeholic/domain/request/RequestNewBoard.java
  backend/codeholic/src/main/java/codeholic/domain/request/RequestNewComment.java
  backend/codeholic/src/main/java/codeholic/domain/request/RequestNewReply.java
  backend/codeholic/src/main/java/codeholic/service/AuthService.java
  backend/codeholic/src/main/java/codeholic/service/impl/AuthServiceImpl.java
  backend/codeholic/src/main/java/codeholic/service/impl/BoardVoteServiceImpl.java
  backend/codeholic/src/main/java/codeholic/service/impl/ReplyVoteServiceImpl.java
  docker-compose.yml
Labels: back-end, bug

#64 OpenStack Zun Capsule 적용
  cloud/README.md
  cloud/templates/capsule-demo.yaml
  cloud/templates/create_cdr_instance.yml
  cloud/templates/create_private_network.yml
  cloud/templates/deployment.yaml
  cloud/templates/nginx.yaml
Labels: cloud/infra

#70 프론트엔드 작업내용 7차 반영
  frontend/public/qna-1.png
  frontend/src/App.tsx
  frontend/src/components/common/ArrowButton.tsx
  frontend/src/components/qna/QnaPostItem.tsx
  frontend/src/components/qna/QnaSideBar.tsx
  frontend/src/components/qna/QnaTagList.tsx
  frontend/src/containers/HomeContainer.tsx
  frontend/src/containers/auth/LoginContainer.tsx
  frontend/src/containers/auth/RegisterContainer.tsx
  frontend/src/containers/qna/QnaHomeContainer.tsx
  frontend/src/containers/qna/QnaPostContainer.tsx
  frontend/src/index.tsx
  frontend/src/lib/api/apiClient.ts
  frontend/src/lib/api/auth.ts
  frontend/src/modules/qna.ts
Labels: bug, enhancement, front-end

#76 프론트엔드 작업내용 8차 반영
  frontend/.env
  frontend/package.json
  frontend/public/content-1.png
  frontend/public/content-2.png
  frontend/public/content-3.png
  frontend/public/content-4.png
  frontend/public/magazine-1.png
  frontend/public/magazine-2.png
  frontend/public/magazine-3.png
  frontend/public/magazine-4.png
  frontend/public/magazine-5.png
  frontend/public/magazine-6.png
  frontend/public/magazine-7.png
  frontend/public/magazine-8.png
  frontend/public/magazine-9.png
  frontend/src/App.tsx
  frontend/src/GlobalStyles.tsx
  frontend/src/components/base/Header.tsx
  frontend/src/components/common/ArrowButton.tsx
  frontend/src/components/magazine/Card.tsx
  frontend/src/components/vm/VmInformation.tsx
  frontend/src/components/vm/VmLoading.tsx
  frontend/src/components/vm/VmMain.tsx
  frontend/src/components/vm/VmSettings.tsx
  frontend/src/components/vm/vm-loading-1.gif
  frontend/src/components/write/MarkdownRender.tsx
  frontend/src/containers/HomeContainer.tsx
  frontend/src/containers/magazine/MagazineArticleViewContainer.tsx
  frontend/src/containers/magazine/MagazineHomeContainer.tsx
  frontend/src/containers/qna/QnaPostContainer.tsx
  frontend/src/containers/qna/QnaPostViewer.tsx
  frontend/src/containers/qna/QnaWriteContainer.tsx
  frontend/src/containers/qna/hooks/useComments.tsx
  frontend/src/containers/vm/VmCreateContainer.tsx
  frontend/src/containers/vm/VmHomeContainer.tsx
  frontend/src/containers/vm/VmMainContainer.tsx
  frontend/src/containers/vm/VmStatusContainer.tsx
  frontend/src/containers/vm/pixeltrue-web-design-1.svg
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/qna.ts
  frontend/src/lib/api/vm.ts
  frontend/src/lib/themes/prism.ts
  frontend/src/modules/index.ts
  frontend/src/modules/vm.ts
  frontend/yarn.lock
Labels: enhancement, front-end
